{{ define "main" }}
{{ with .Site.Data.visitors }}
{{ if .enable }}
<section class="site-visitors-header" style="background-image: url({{ .image | absURL }});">
 <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>
          {{ .title }}
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="site-visitors-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
      <div class="site-visitors-items">
	 <p> <a
  href="https://www2.cisl.ucar.edu/outreach/cvp">Learn more
  about the CISL Visitor Program.</a></p>
            <div >
              <p>A few of our visitors in ASAP:</p> 
	    </div>
	   
          
          {{ $year := "" }}
          {{ range $item := sort .items "year" "desc" }}
          {{   $is_new_year := ne $year $item.year }}
          {{   if $is_new_year }}
          {{     if ne $year "" }}
          </ul>
          {{     end }}
          {{     $year = $item.year }}
          <span>{{ $year }}</span>
          <ul>
          {{   end }}
            {{ if .url }}<a href="{{ .url }}">{{ end }}
            <li><b>{{ .student |  }}</b> <em>{{ .github |  }}</em> {{ .university |  }} <em>{{ .title | }}</em> <b>{{ delimit .mentors ", " }}</b>, {{ if .extra }}, {{ .extra }}{{ else }}{{ end }}.</li>
            {{ if .url }}</a>{{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
